body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    background: #1e293b;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #38bdf8;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
    background: #334155;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
    margin-top: 20px;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #0ea5e9;
}
.card img{
width:100%;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

.card img:hover{
transform:scale(1.05);
}

/* fullscreen obrázek */

#lightbox{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:none;
align-items:center;
justify-content:center;
}

#lightbox img{
max-width:90%;
max-height:90%;
}
